[submodule "dotfiles_private"]
	path = dotfiles_private
	url = https://github.com/Humblehound/dotfiles_private
[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
